body{
    height: 100vh;
    background-color: #BCD2EE;
    color: #9B7EDE;
}
#indexMainDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.centerContent{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    width: 50px;
    height: 50px;
    background-color: #9B7EDE;
}
.valamiRow{
    width: 100%;
    height: 100vh;
}